// vars
$headerTextColor: #fff;
$headerHrefHoverDecoration: underline;
$borderColor: rgb(161, 156, 156);
$someDataColor: rgb(101, 106, 107);
$borderRadius: 5px;
$mainDesignColor: rgb(84, 202, 211);
$activeCodeAndTableHeadColor: rgb(45, 160, 175);

// mixins
@mixin currencyTooltip {
  $currencyName: attr(currency-name);
  $currencyTooltipVisibility: hidden;
  @if ($currencyName) {
    &:last-child:hover:after {
      visibility: $currencyTooltipVisibility;
    }
  }

  &:hover:after {
    content: attr(currency-name);
    z-index: 999;
    position: absolute;
    top: -50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    padding: 8px 20px;
    white-space: nowrap;
    background: #fff;
    color: black;
    box-shadow: 0 8px 40px 0px rgba(0, 0, 0, 0.2);
    border-radius: $borderRadius;
    font-size: 14px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  height: 100px;
  background-color: $mainDesignColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;

  .headerTitle {
    font-style: italic;
    color: #fff;
    margin: 0;
  }

  .links {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;

      li {
        padding-right: 30px;

        &:last-child {
          padding-right: 0px;
        }

        a {
          color: $headerTextColor;
          text-decoration: none;
          font-size: 30px;
          border-bottom: 3px solid transparent;
          transition: border-bottom 0.2s linear;

          &:hover {
            border-bottom: 3px solid #fff;
          }

          &.active {
            color: rgb(191, 240, 252);
            font-weight: bold;

            &:hover {
              border-bottom: 3px solid transparent;
              cursor: default;
            }
          }
        }
      }
    }
  }
}

//Home page
.converting {
  margin: 10px 400px 0 400px;
  height: 800px;
  display: flex;
  justify-content: space-between;
  position: relative;

  .reverse {
    width: 50px;
    height: 50px;
    margin-top: 250px;
    order: 3;

    &:hover {
      cursor: pointer;
      opacity: 50%;
    }
  }

  .culcBox {
    margin-top: 140px;
    order: 2;

    &:last-child {
      order: 4;
    }

    .inputBox {
      border: 1px solid $borderColor;
      padding: 30px 20px 15px;
      height: 155px;

      .inputBoxInput {
        max-width: 369px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 50px;
        border: none;

        &:focus {
          outline: none;
        }
      }

      .inputBoxRate {
        margin-top: 30px;
        color: $someDataColor;
      }
    }

    .currencyWrapper {
      display: flex;
      margin-bottom: 20px;

      .currency {
        position: relative;
        border: 1px solid $borderColor;
        padding: 10px;
        width: 100%;
        text-align: center;

        &:hover {
          cursor: pointer;
        }

        @include currencyTooltip;
      }

      .activeCurrency {
        background-color: $activeCodeAndTableHeadColor;
        color: #fff;
      }
    }

    .culcBoxDateTime {
      margin-top: 30px;
      text-align: right;
      color: $someDataColor;
    }
  }

  .currencyList {
    order: 1;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: $borderRadius;
    box-shadow: 0 8px 40px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 190px;
    z-index: 10;

    .currencyColumn {
      width: 100%;
      font-size: 14px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
      .currencyRow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        padding: 4px 6px;

        &:hover {
          cursor: pointer;
          background-color: rgb(178, 220, 248);
        }

        &:last-child {
          margin-bottom: 0;
        }

        .currencyNameOfList {
          white-space: nowrap;
          margin-right: 20px;
        }

        .currencyCode {
          font-weight: bold;
        }
      }
    }
  }
}
// Current exchange rates page
.currentExchangeRate {
  width: 800px;
  margin: 20px auto 0 auto;

  .selectBaseRate {
    margin-bottom: 30px;
    padding: 6px 16px 6px 8px;
    border-radius: $borderRadius;
    border-color: $borderColor;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  .scrollTable {
    table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      border: 3px solid $mainDesignColor;

      thead {
        background-color: $activeCodeAndTableHeadColor;
        color: #fff;

        th {
          letter-spacing: 2px;
          padding: 10px;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5)
          );
          border: 3px solid $mainDesignColor;
        }
      }
    }

    .scrollTableBody {
      height: 600px;
      overflow-x: auto;

      table {
        tbody {
          td {
            padding: 10px 10px 10px 40px;
            letter-spacing: 1px;
            text-align: left;

            &:last-child {
              text-align: center;
              padding: 0;
            }

            span {
              font-weight: bold;
              float: right;
              padding-right: 30px;
            }
          }

          tr:nth-child(odd) {
            background-color: rgb(225, 240, 241);
          }

          tr:nth-child(even) {
            background-color: #fff;
          }
        }
      }
    }

    /* Стили для скролла */
    ::-webkit-scrollbar {
      width: 6px;
    }
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    ::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }

  .totalRates {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 20px;
    padding-right: 10px;
    text-align: right;

    span {
      color: rgb(52, 161, 138);
    }
  }
}
